body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

footer {
    background-color: #006699;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}

footer img {
    max-width: 100%;
    max-height: 100%;
}

main {
    padding: 2em;
    background-color: white;
    margin: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}
/* Vista paquetes */
.espacio {
    margin: 3% 0 0 10%;
}

.espacio p {
    font-size: 20px;
}

.espacio b {
    font-size: 24px;
}

.acceso {
    flex: 0;
    top: 30%;
    margin-left: 1%;
    position: fixed;
    z-index: 1;
}

.tabla {
    margin-top: 3%;
    margin-inline: 10px;
    min-width: 350px;
    max-width: 350px;
}

table {
    border-radius: 50px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th {
    /* background-color: #006699; */
    color: #f0f0f0;
    border-radius: 20px 20px 0 0;
}

.cabeza-carta {
    height: 150px;
    font-size: 30px;
    color: #006699;
    text-align: center;
}

.titulo-carta {
    height: 90px;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.info-carta {
    height: 800px;
    vertical-align: top;
}

.info {
    font-size: 20px;
}

.boton-carta {
    height: 150px;
    text-align: center;
}

.boton {
    background-color: #006699;
    border-radius: 30px;
    font-size: 25px;
    border: none;
    padding: 20px 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.boton:hover {
    scale: 110% 110%;
}

.check {
    margin-top: 10px;
    padding: 3px;
    padding-left: 30px;
    padding-right: 20px;
    width: 25px;
    height: 25px;
}



.contenedor {
    display: flex;
    position: relative;
}

.boton-izquierda {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 85%;
    top: 600px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 50%;
}

.boton-derecha {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 85%;
    top: 600px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 50%;
}

.boton-izquierda:hover {
    scale: 110% 110%;
    padding: 5px;
    background-color: #e0e0e0;
}

.boton-derecha:hover {
    scale: 110% 110%;
    padding: 5px;
    background-color: #e0e0e0;
}

.contenedor .contenedor-slider {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.contenedor-flex {
    display: flex;
    flex-direction: row;
}

table p {
    font-weight: bold;
}

.slider {
    display: flex;
    margin-bottom: 40%;
    width: 50%;
    height: 1100px;
    margin-left: -370px;
}
/* fin apartado cartas de los paquetes */
/* Inicio apartado Modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}

.modal-show{
    opacity: 1;
    pointer-events: unset;
}

.modal_container{
    margin: auto;
    width: 90%;
    max-width: 800px;
    max-height: 80%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    overflow-y: hidden;
}

.modal_container_title {
    width: 90%;
    background-color: #006699;
}

.modal_title {
    text-align: center;
    color: #f0f0f0;
    font-size: 30px;
    text-transform: uppercase;
}

.label_input {
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    border: 0;
    line-height: 20px;
    pointer-events: none;
    transition: .2s linear;
    transform: translateY(30px);
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    font-weight: 400;
    color: #888888;
}

.input_form {
    font: inherit;
    border: 1px solid #e2e8f0;
    width: 100%;
    min-width: 80%;
    max-width: 90%;
    height: auto;
    min-height: unset;
    max-height: unset;
    display: block;
    margin: 0;
    padding: 10px 0 9px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-radius: 0;
    background-color: rgba(0,0,0,0)!important;
    background-image: unset;
    line-height: 1.3em;
    transition: .2s ease;
    outline: 0;
    box-shadow: none;
    border-color: #777771;
    color: #000000;
    font-size: 16px;
    font-family: inherit;
    font-weight: 400;
}

.boton_insercion {
    font: inherit;
    text-transform: none;
    background: #e6e6e6;
    box-sizing: border-box;
    width: auto;
    min-width: 100px;
    max-width: unset;
    height: auto;
    min-height: unset;
    max-height: unset;
    cursor: pointer;
    display: inline-block;
    margin: 0 20px 0 0;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 0;
    border-radius: 2px;
    line-height: 1.45em;
    text-align: center;
    transition: .2s ease;
    text-decoration: none;
    margin-right: 0;
    font-size: 14px;
    font-weight: 500;
    background-color: #94c93d;
    color: #FFFFFF;
}

.modal_close{
    text-decoration: none;
    color: #f0f0f0;
    background-color: #006699;
    padding: 1em 3em;
    border: 1px solid #006699;
    border-radius: 6px;
    display: inline-block;
    transition: background-color .3s;
}

.modal_close:hover{
    color: #006699;
    background-color: #f0f0f0;
}

/* fin apartado Modal */
footer {
    background-color: #006699;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #000000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4ch;
}

header .place2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

header img {
    display: block;
    width: auto;
    height: auto;
}

.column-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    /* Cambia las columnas automáticamente según el ancho del contenido */
    gap: 20px;
    justify-content: center;
    /* Centra las imágenes horizontalmente */
}

.column-container h2 {
    background-color: #e0e0e0;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.column {
    text-align: center;
    padding: 5px;
}

.column2 {
    text-align: center;
    padding: 5px;

}

.precio {
    padding: 30px;
}

.separacion {
    width: 600px;
    border-bottom: 2px solid #000000;
    padding: auto;
}

.img-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.img-container {
    width: 500px;
    /* Ajusta el ancho según sea necesario */
    height: 200px;
    /* Ajusta la altura según sea necesario */
    margin: 30px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.column img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

textarea {
    width: 100%;
    max-width: 450px;
    /* Ajusta el ancho máximo según sea necesario */
    height: 15px;
    /* Ajusta la altura según sea necesario */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    resize: horizontal;
    /* Permitir solo el redimensionamiento vertical */
}

.exp-container {
    display: flex;
    gap: 126px;
    /* Espacio entre los textarea */
}

textarea.Mes,
textarea.Año {
    width: 100%;
    max-width: 80px;
    resize: horizontal;
    gap: 5px;
}

textarea.CVV {
    width: 100%;
    max-width: 100px;
    resize: horizontal;
}

.titular-container {
    display: flex;
    gap: 40px;
    /* Ajusta el espacio entre los elementos */
    margin-bottom: 5px;
    /* Ajusta el espacio inferior */
    padding: 10px;
    width: 45%;
    align-items: flex-start;
}

.titular-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exp-cvv-container {
    display: flex;
    gap: 40px;
    /* Ajusta el espacio entre los elementos */
    margin-bottom: 5px;
    /* Ajusta el espacio inferior */
    padding: 10px;
    width: 45%;
    align-items: flex-start;
}

.expiracion-item,
.cvv-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Estilos previamente definidos ... */

.blue-button {
    background-color: #006699;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 350px;
    text-decoration: none;
    /* Ajusta el espacio entre el textarea y el botón */
}

.green-button {
    background-color: #0ba72d;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 1000px;
    text-decoration: none;
    /* Ajusta el espacio entre el textarea y el botón */
    gap: 20%;
}

.cvv-input {
    display: flex;
    align-items: center;
}

.line {
    height: 1px;
    background-color: #d3cece;
    margin: 30px 0;
}